html,body{
    font-family: 'Roboto', sans-serif;
}

#container1 .btn:hover, #container1 .btn:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  background-color: white;
  border:1px solid black ;
  color: black;
  box-shadow: 0px 5px 5px rgb(0, 0, 0);
}

#container1 .btn{
    width: 90%;
    height: 50%;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
}

.navbar{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;

}


#img2,#img3{
    border-radius: 20%;
    align-self: center;
}

#img1{
    border-radius: 40%;
}

@media only screen and (max-width: 375px), only screen and (max-device-width: 375px){
    #container1, .row .col-sm-6,#feed_walk{
		flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      
    }


    #img2,#img3{
        width: 80%;
    }
    #about{
        margin-left: 20px;
        width: 100%;
        padding: 50px;
    }

}